<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link href="/static/css/dashboardstyles.css" rel="stylesheet">
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
        <div class="menu">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="title_section">
                <div class="title">
                    <div class="title_div">
                        <div class="logo">
                            <image src="/static/images/nbalogo.png" class="website_logo_img"></image>
                        </div>
                        <div class="logo_title">
                            <h1>NBA</h1>
                        </div>
                    </div>
                    <div class="title_div"><h2>Players Dashboard</h2></div>
                </div>
            </div>
            <div class="division_section">
                <div class="division_list_container">
                    <div class="division_list">
                        <div class="division_column">
                            <div class="division_column_conference"><h3>Eastern</h3></div>
                            <div class="division">
                                <button class="division_button"><h3>Atlantic</h3></button>
                            </div>
                            <div class="division">
                                <button class="division_button"><h3>Central</h3></button>
                            </div>
                            <div class="division">
                                <button class="division_button"><h3>South East</h3></button>
                            </div>
                        </div>
                        <div class="division_column">
                            <div class="division_column_conference"><h3>Western</h3></div>
                            <div class="division">
                                <button class="division_button"><h3>North West</h3></button>
                            </div>
                            <div class="division">
                                <button class="division_button"><h3>Pacific</h3></button>
                            </div>
                            <div class="division">
                                <button class="division_button"><h3>South West</h3></button>
                            </div>
                        </div>
                    </div>
                    <div class="all_container">
                        <div class="division_wide">
                            <button class="division_button"><h3>All</h3></button>
                        </div>
                    </div>
                </div>
                <div class="team_list_container">
                    <input type="text" name="team_search" class="team_search_bar uppercase" placeholder="SEARCH">
                    <div class="team_list">
                        <ul id="team_container" class="team_container">
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="dashboard">
        <div class="nav_bar">
            <div class="nav_left">
                <div class="menu_button_container">
                    <button onclick="openNav()" class="menu_button">
                        <div class="menu_block"></div>
                        <div class="menu_block"></div>
                        <div class="menu_block"></div>
                    </button>
                </div>
                <div class="dashboard_text"><h2>NBA Dashboard</h2></div>
            </div>
            
            <div class="profile">
                <div class="username"><h2>{{.User}}</h2></div>
                <div class="profile_photo_container">
                    <img class="profile_photo" src="{{.ProfilePhoto}}">
                </div>
                <div class="logout_button_container">
                    <form method="GET" action="/logout/">
                        <button class="logout_button" type="submit">
                            <img src="/static/images/logout.png" class="logout_button_img">
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="filter_bar">
            <div class="player_search_bar_container">
                <input type="text" name="player_search" class="player_search_bar uppercase" placeholder="SEARCH">
            </div>
        </div>
        <div class="card_list_container">
            <div class="card_grid" id="cardGrid">
                
            </div>
        </div>
    </div>
    
  </body>
  <script src="/static/js/dashboard.js"></script>
  <script>
    function filterTeamsByDivision(division) {
        var teamItems = document.querySelectorAll('.team_item');

        teamItems.forEach(function(item) {
            var teamListName = item.querySelector('.team_item_button h4').textContent.toLowerCase();
            var found = false;

            for (var i = 0; i < {{.TotalTeam}}; i++) {
                var teamName = {{.TeamNames}}[i].toLowerCase();
                var teamDivision = {{.TeamDivision}}[i].toLowerCase();
                
                if (division === "All" || teamDivision === division.toLowerCase()) {
                    if (teamListName === teamName) {
                        found = true;
                        break; 
                    }
                }
            }

            if ((division === "All" || teamDivision === division.toLowerCase()) && found) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    }

    document.querySelectorAll('.division_button').forEach(function(button) {
        button.addEventListener('click', function() {
            var division = button.querySelector('h3').textContent;
            filterTeamsByDivision(division);
        });
    });

    function displayCards(c, currentTeamName) {
        var cardGrid = document.getElementById('cardGrid');
        cardGrid.innerHTML = '';
        var currentTeam = currentTeamName
        for (var i = 0; i < c; i++) {
            var playerName = {{.PlayerNames}}[i];
            var playerPhoto = {{.PlayerPhoto}}[i];
            var playerTeam = {{.PlayerTeam}}[i];
            var playerPPG = {{.PlayerPPG}}[i];
            var playerRPG = {{.PlayerRPG}}[i];
            var playerAPG = {{.PlayerAPG}}[i];
            var playerPIE = {{.PlayerPIE}}[i];
            var playerBirthdate = {{.PlayerBirthdateFormatted}}[i];
            var playerAge = {{.PlayerAge}}[i];
            var playerExperience = {{.PlayerExperience}}[i];
            var playerHeight = {{.PlayerHeight}}[i];
            var playerWeight = {{.PlayerWeight}}[i];
            var playerCountry = {{.PlayerCountry}}[i];
            var playerLogo = {{.PlayerLogo}}[i];
            var playerPrimary = {{.PlayerPrimary}}[i];
            var playerSecondary = {{.PlayerSecondary}}[i];

            if (playerTeam === currentTeam || currentTeam === "nba dashboard") {
                // Create a random card structure
                var cardStructure = `
                    <div class="card">
                        <div class="content">
                            <div class="card_front">
                                <div class="inner_card">
                                    <div class="card_background_container">
                                        <image src="/static/images/court.jpg" class="background_image"></image>
                                    </div>
                                    <div class="card_header">
                                        <div class="card_name_container">
                                            <div class="card_name">
                                                <div class="triangle"></div>
                                                <h4>${playerName}</h4>
                                            </div>
                                        </div>
                                        <div class="card_team_container">
                                            <div class="card_team">
                                                <image src="${playerLogo}" class="team_logo"></image>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_image_container">
                                        
                                        <div class="card_player_container">
                                            <image src="${playerPhoto}" class="player_image"></image>
                                        </div>
                                        <div class="card_stats_container">
                                            <div class="card_stats">
                                                <div class="card_stats_title"><h5>PPG</h5></div>
                                                <div class="card_stats_value"><h4>${playerPPG}</h4></div>
                                            </div>
                                            <div class="card_stats">
                                                <div class="card_stats_title"><h5>RPG</h5></div>
                                                <div class="card_stats_value"><h4>${playerRPG}</h4></div>
                                            </div>
                                            <div class="card_stats">
                                                <div class="card_stats_title"><h5>APG</h5></div>
                                                <div class="card_stats_value"><h4>${playerAPG}</h4></div>
                                            </div>
                                            <div class="card_stats">
                                                <div class="card_stats_title"><h5>PIE</h5></div>
                                                <div class="card_stats_value"><h4>${playerPIE}</h4></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_body">
                                        <div class="card_body_row">
                                            <div class="card_info">
                                                <div class="card_info_title"><h5>Birthdate</h5></div>
                                                <div class="card_info_value"><h4>${playerBirthdate}</h4></div>
                                            </div>
                                            <div class="card_info">
                                                <div class="card_info_title"><h5>Age</h5></div>
                                                <div class="card_info_value"><h4>${playerAge} yrs</h4></div>
                                            </div>
                                            <div class="card_info">
                                                <div class="card_info_title"><h5>Experience</h5></div>
                                                <div class="card_info_value"><h4>${playerExperience} yrs</h4></div>
                                            </div>
                                        </div>
                                        <div class="card_body_row">
                                            <div class="card_info">
                                                <div class="card_info_title"><h5>Height</h5></div>
                                                <div class="card_info_value"><h4>${playerHeight} m</h4></div>
                                            </div>
                                            <div class="card_info">
                                                <div class="card_info_title"><h5>Weight</h5></div>
                                                <div class="card_info_value"><h4>${playerWeight} kg</h4></div>
                                            </div>
                                            <div class="card_info">
                                                <div class="card_info_title"><h5>Country</h5></div>
                                                <div class="card_info_value"><h4>${playerCountry}</h4></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card_back">
                                <image src="/static/images/card_back.png" class="card_back_img"></image>
                            </div>
                        </div>
                    </div>
                `;

                //creates the card
                var cardContainer = document.createElement('div');
                cardContainer.classList.add('card_container');
                cardContainer.innerHTML = cardStructure;

                //dynamically changes the card based on team
                var cardNameElement = cardContainer.querySelector('.card_name');    
                cardNameElement.style.backgroundColor = playerPrimary;
                cardNameElement.style.color = playerSecondary;

                var cardStatsElements = cardContainer.querySelectorAll('.card_stats');
                cardStatsElements.forEach(function(cardStatsElement) {
                    cardStatsElement.style.background = 'radial-gradient(' + playerPrimary + ' 0%, black 60%)';
                    cardStatsElement.style.color = playerSecondary; 
                });

                var cardBodyElement = cardContainer.querySelector('.card_body');
                cardBodyElement.style.background = 'radial-gradient(' + playerPrimary + ' -20%, black 75%)';
                
                var cardInfoElements = cardContainer.querySelectorAll('.card_info');
                cardInfoElements.forEach(function(cardInfoElement) {
                    cardInfoElement.style.color = playerSecondary; 
                });

                var triangleElement = cardContainer.querySelector('.triangle');
                triangleElement.style.borderColor = 'transparent ' + playerPrimary + ' transparent';

                cardGrid.appendChild(cardContainer);
            }
        }
    }
        
    displayCards({{.TotalPlayers}}, "nba dashboard" );

    function displayTeam(t) {
        var teamContainer = document.getElementById('team_container');
        var teamListContainer = document.querySelector('.team_list_container');
        var teamSearchBar = document.querySelector('.team_search_bar');
        var menuButton = document.querySelector('.menu_button');
        var menuBlock = document.querySelectorAll('.menu_block');
        var dashboardText = document.querySelector('.dashboard_text');
        var navBar = document.querySelector('.nav_bar');
        var username = document.querySelector('.username');
        var profilePhoto= document.querySelector('.profile_photo');
        var playerSearchBarContainer= document.querySelector('.player_search_bar_container');
        var playerSearchBar= document.querySelector('.player_search_bar');
        var dashboardstyleElem = document.head.appendChild(document.createElement("style"));
        

        for (var i = 0; i < t; i++) {
            (function() {
                var teamName = {{.TeamNames}}[i];
                teamName = teamName.toUpperCase();
                var teamLogoSrc = {{.TeamLogo}}[i]; 
                var teamPrimary = {{.TeamPrimary}}[i];
                var teamSecondary = {{.TeamSecondary}}[i];

                //creates the team button
                var button = document.createElement('button');
                button.classList.add('team_item_button', 'bolder');
                button.style.backgroundColor = teamPrimary; 
                button.style.color = teamSecondary; 
            
                var image = document.createElement('img');
                image.classList.add('team_list_logo');
                image.src = teamLogoSrc;
                
                var teamNameElement = document.createElement('h4');
                teamNameElement.textContent = teamName;
                
                button.appendChild(image);
                button.appendChild(teamNameElement);

                //changes the card list depending on the team button clicked
                button.addEventListener('click', (function(primary, secondary, name) {
                    return function() {
                        cardGrid.innerHTML = '';
                        teamListContainer.style.background = primary;
                        teamSearchBar.style.background = secondary;
                        teamSearchBar.style.color = primary;
                        dashboardstyleElem.innerHTML = `
                            #dashboard:before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                background-color: ${primary};
                                z-index: -1;
                                filter: brightness(140%);
                            }
                        `;
                        menuButton.style.background = secondary;
                        menuBlock.forEach(function(menublock) {
                            menublock.style.background = primary;
                        });
                        dashboardText.style.color = secondary;
                        dashboardText.innerHTML = `<h2>${name}</h2>`;
                        navBar.style.background = primary;
                        username.style.color = secondary;
                        profilePhoto.style.border = '3px solid ' + secondary + '';
                        playerSearchBarContainer.style.background = primary;
                        playerSearchBar.style.background = secondary;
                        playerSearchBar.style.color = primary;

                        var newCurrentTeam = name.toLowerCase(); // Update current team
                        displayCards({{.TotalPlayers}}, newCurrentTeam);
                    };
                })(teamPrimary, teamSecondary, teamName));
                
                const listItem = document.createElement('li');
                listItem.classList.add('team_item');
                listItem.appendChild(button);
                
                teamContainer.appendChild(listItem);
            })();
        }
    }
    displayTeam({{.TotalTeam}});



    var playerSearchInput = document.querySelector('.player_search_bar');
    playerSearchInput.addEventListener('input', function() {
    
        var searchTerm = playerSearchInput.value.trim(); // Get the raw search term
        console.log('Raw Search Input:', searchTerm);

        // Capitalize the first letter of each word and convert the rest to lowercase
        searchTerm = searchTerm.replace(/\b\w/g, function(char) {
            return char.toUpperCase();
        });
        console.log('Formatted Search Input:', searchTerm);

        // Make an API call to search for players
        var apiUrl = 'http://0.0.0.0:8080/admin/api/d/players/read/?name__contains=' + searchTerm;

        fetch(apiUrl) 
        .then(response => response.json()) 
        .then(data => {
            if (data.status === 'ok' && data.result.length > 0) {
                var playerIds = data.result.map(player => player.ID);
                console.log(playerIds);

                // Fetch names associated with the found IDs
                fetchNames(playerIds);
            } else {
                // If no players found, hide all cards
                var playerCards = document.querySelectorAll('.card_container');
                playerCards.forEach(function(card) {
                    card.style.display = 'none';
                });
                console.log("No player found with the given search term.");
            }
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
    });

    function fetchNames(playerIds) {
        // Make an API call to fetch names associated with the IDs
        var apiUrl = 'http://0.0.0.0:8080/admin/api/d/players/read/?id__in=' + playerIds.join(',');

        fetch(apiUrl) // Make a GET request to the API endpoint
        .then(response => response.json()) // Parse the JSON response
        .then(data => {
            // Check if the response status is 'ok' and there are results
            if (data.status === 'ok' && data.result.length > 0) {
                // Get the names of players returned by the API
                var playersFound = data.result.map(player => player.Name.toLowerCase());
                console.log('Players Found:', playersFound);

                // Get all player cards
                var playerCards = document.querySelectorAll('.card_container');

                // Loop through each player card and check if its name is among the found players
                playerCards.forEach(function(card) {
                    var cardPlayerName = card.querySelector('.card_name h4').textContent.toLowerCase();
                    if (playersFound.includes(cardPlayerName)) {
                        // If the player's name is among the found players, show the card
                        card.style.display = 'block';
                    } else {
                        // If not, hide the card
                        card.style.display = 'none';
                    }
                });
            } else {
                // If no players found, hide all cards
                var playerCards = document.querySelectorAll('.card_container');
                playerCards.forEach(function(card) {
                    card.style.display = 'none';
                });
                console.log("No player found with the given search term.");
            }
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
    }

    var teamSearchInput = document.querySelector('.team_search_bar');
    teamSearchInput.addEventListener('input', function() {
        // Capture the value of the search input
        var searchTerm = teamSearchInput.value.trim().toLowerCase();
        console.log('Search Input:', searchTerm);

        // Make an API call to search for teams
        var apiUrl = 'http://0.0.0.0:8080/admin/api/d/team/read/?name__contains=' + searchTerm;

        fetch(apiUrl) // Make a GET request to the API endpoint
        .then(response => response.json()) // Parse the JSON response
        .then(data => {
            // Check if the response status is 'ok' and there are results
            if (data.status === 'ok' && data.result.length > 0) {
                // Get the names of teams returned by the API
                var teamsFound = data.result.map(team => team.Name.toLowerCase());
                console.log('Teams Found:', teamsFound);

                // Get all team items
                var teamItems = document.querySelectorAll('.team_item_button');

                // Loop through each team item and check if its name is among the found teams
                teamItems.forEach(function(item) {
                    var teamName = item.querySelector('h4').textContent.toLowerCase();
                    if (teamsFound.includes(teamName)) {
                        // If the team's name is among the found teams, show the item
                        item.parentElement.style.display = 'block';
                    } else {
                        // If not, hide the item
                        item.parentElement.style.display = 'none';
                    }
                });
            } else {
                // If no teams found, hide all items
                var teamItems = document.querySelectorAll('.team_item_button');
                teamItems.forEach(function(item) {
                    item.parentElement.style.display = 'none';
                });
                console.log("No team found with the given search term.");
            }
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
    });
  </script>
</html>